{{ 'component-cart.css' | asset_url | stylesheet_tag }}
{{ 'component-totals.css' | asset_url | stylesheet_tag }}
{{ 'component-price.css' | asset_url | stylesheet_tag }}
{{ 'component-discounts.css' | asset_url | stylesheet_tag }}

<div class="page-width{% if cart == empty %} is-empty{% endif %}" id="main-cart-footer" data-id="{{ section.id }}">
  <div class="js-contents">
    <div class="cart__footer">
      {% for block in section.blocks %}
        {%- if block.type == 'gift-note' -%}
          {%- render 'gift-wrapping', block: block -%}
        {% endif %}
      {% endfor %}
      {%- if settings.show_cart_note -%}
        <cart-note class="cart__note field">
          <label for="Cart-note">{{ 'sections.cart.note' | t }}</label>
          <textarea class="text-area field__input" name="note" form="cart" id="Cart-note" placeholder="{{ 'sections.cart.note' | t }}">{{ cart.note }}</textarea>
        </cart-note>
      {%- endif -%}

      <div class="cart__blocks">
        {% for block in section.blocks %}
          {%- case block.type -%}
            {%- when '@app' -%}
              {% render block %}
              {%- when 'text' -%}
                {%- render 'pickup-date', block: block -%}            
            {%- when 'subtotal' -%}
              <div class="js-contents-bkp" {{ block.shopify_attributes }}>
                <div class="totals">
                  <h2 class="totals__subtotal">{{ 'sections.cart.subtotal' | t }}</h2>
                  <p class="totals__subtotal-value">{{ cart.total_price | money_with_currency }}</p>
                </div>

                <div>
                  {%- if cart.cart_level_discount_applications.size > 0 -%}
                    <ul class="discounts list-unstyled" role="list" aria-label="{{ 'customer.order.discount' | t }}">
                      {%- for discount in cart.cart_level_discount_applications -%}
                        <li class="discounts__discount discounts__discount--position">
                          {%- render 'icon-discount' -%}
                          {{ discount.title }}
                          (-{{ discount.total_allocated_amount | money }})
                        </li>
                      {%- endfor -%}
                    </ul>
                  {%- endif -%}
                </div>

                <small class="tax-note caption-large rte">
                  {%- if cart.taxes_included and shop.shipping_policy.body != blank -%}
                    {{ 'sections.cart.taxes_included_and_shipping_policy_html' | t: link: shop.shipping_policy.url }}
                  {%- elsif cart.taxes_included -%}
                    {{ 'sections.cart.taxes_included_but_shipping_at_checkout' | t }}
                  {%- elsif shop.shipping_policy.body != blank -%}
                    {{ 'sections.cart.taxes_and_shipping_policy_at_checkout_html' | t: link: shop.shipping_policy.url }}
                  {%- else -%}
                    {{ 'sections.cart.taxes_and_shipping_at_checkout' | t }}
                  {%- endif -%}
                </small>
              </div>
              {%- when 'buttons' -%}
              <div class="cart__ctas" {{ block.shopify_attributes }}>
                <noscript>
                  <button type="submit" class="cart__update-button button button--secondary" form="cart">
                    {{ 'sections.cart.update' | t }}
                  </button>
                </noscript>

                <button type="submit" id="checkout" class="cart__checkout-button button" name="checkout"{% if cart == empty %} disabled{% endif %} form="cart">
                  {{ 'sections.cart.checkout' | t }}
                </button>
              </div>

              {%- if additional_checkout_buttons -%}
                <div class="cart__dynamic-checkout-buttons additional-checkout-buttons">
                  {{ content_for_additional_checkout_buttons }}
                </div>
              {%- endif -%}
          {%- endcase -%}
        {% endfor %}

        <div id="cart-errors"></div>
      </div>
    </div>
  </div>
</div>

<script>
  document.addEventListener('DOMContentLoaded', function() {
    function isIE() {
      const ua = window.navigator.userAgent;
      const msie = ua.indexOf('MSIE ');
      const trident = ua.indexOf('Trident/');

      return (msie > 0 || trident > 0);
    }

    if (!isIE()) return;
    const cartSubmitInput = document.createElement('input');
    cartSubmitInput.setAttribute('name', 'checkout');
    cartSubmitInput.setAttribute('type', 'hidden');
    document.querySelector('#cart').appendChild(cartSubmitInput);
    document.querySelector('#checkout').addEventListener('click', function(event) {
      document.querySelector('#cart').submit();
    });
  });
</script>

{% schema %}
{
  "name": "t:sections.main-cart-footer.name",
  "class": "cart__footer-wrapper",
  "blocks": [
    {
      "type": "subtotal",
      "name": "t:sections.main-cart-footer.blocks.subtotal.name",
      "limit": 1
    },
    {
      "type": "buttons",
      "name": "t:sections.main-cart-footer.blocks.buttons.name",
      "limit": 1
    },
    {
      "type": "text",
      "name": "Delivery date",
      "limit": 1
    },
    {
      "type": "gift-note",
      "name": "Gift note",
      "limit": 1,
      "settings": [
        {
          "type": "header",
          "content": "Gift Wrapping Options"
        },
        {
            "type": "checkbox",
            "id": "enabled",
            "label": "Enable Gift Wrapping",
            "default": true,
            "info": "Only displayed when there are items in the cart"
        },
        {
            "type": "header",
            "content": "Gift Message"
        },
        {
            "type": "checkbox",
            "id": "free_gift_enabled",
            "label": "Enable Gift Message",
            "default": true
        },
        {
            "type": "text",
            "id": "free_gift_title",
            "label": "Title"
        },
        {
            "type": "text",
            "id": "free_gift_text",
            "label": "Description",
            "default": "Is this a gift? Select and add your gift message below."
        },
        {
            "type": "image_picker",
            "id": "free_gift_image",
            "label": "Image",
            "info": "Leave empty for default icon"
        },
        {
            "type": "text",
            "id": "free_gift_button",
            "label": "Button Text",
            "default": "SELECT"
        },
        {
            "type": "text",
            "id": "free_gift_button_remove",
            "label": "Button Text (Remove)",
            "default": "x REMOVE"
        },
        {
            "type": "header",
            "content": "Add Gift Box (wrapping)"
        },
        {
            "type": "checkbox",
            "id": "paid_gift_enabled",
            "label": "Enable Add Gift Box (wrapping)",
            "default": true
        },
        {
          "type": "product",
          "id": "freegiftproduct",
          "label": "Free gift product"
        },
        {
            "type": "text",
            "id": "paid_gift_title",
            "label": "Title"
        },
        {
            "type": "text",
            "id": "paid_gift_text",
            "label": "Description",
            "default": "Add Gift Box (wrapping) & Gift Card for an additional <price></price>"
        },
        {
            "type": "image_picker",
            "id": "paid_gift_image",
            "label": "Image",
            "info": "Leave empty for default icon"
        },
        {
            "type": "text",
            "id": "paid_gift_button",
            "label": "Button Text",
            "default": "SELECT"
        },
        {
            "type": "text",
            "id": "paid_gift_button_remove",
            "label": "Button Text (Remove)",
            "default": "x REMOVE"
        },
        {
            "type": "checkbox",
            "id": "cart_discount_enable",
            "label": {
                "en": "Enable cart discount"
            },
            "default": true
        }
      ]
    },
    {
      "type": "@app"
    }
  ]
}
{% endschema %}

<script id="docapp-discount-speedup">
(() => { if (!document.documentElement.innerHTML.includes('\\/shop' + '\\/js' + '\\/discount-on-cart-pro.min.js') || window.discountOnCartProAppLoaded) return; let script = document.createElement('script'); script.src = "https://d9fvwtvqz2fm1.cloudfront.net/shop/js/discount-on-cart-pro.min.js?shop=group-8a-dev.myshopify.com"; document.getElementById('docapp-discount-speedup').after(script); })();
</script>